<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reg_no %>
    <%= form.text_field :reg_no, id: :employee_reg_no %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_field :project, id: :employee_project %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
