<p id="notice"><%= notice %></p>

<p>
  <strong>Reg no:</strong>
  <%= @employee.reg_no %>
</p>

<p>
  <strong>Project:</strong>
  <%= @employee.project %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
